/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 09.03.2017, 11:07:50
    Author     : dpetrov
*/

.center {
    margin: auto;
    padding: 1px;
    width: 90%;
    color: blue;
    text-align: center;
    /*text-shadow: 2px 3px darkcyan;*/
}

.left-nav {
    position: absolute;
    left: 0px;
    margin: 5px;
    width: 20%;
    height: 82%;
    text-align: left;
}

.form-sign {
    font-weight: bold;
    color: blue;
}

.border-1px {
    border: 1px solid lightgrey;
}

/* Margin styles */
.margin-5px {
    margin: 5px;
}

.margin-10px {
    margin: 10px;
}

.size-form-elements {
    width: 200px;
    height: 35px;
}

.size-table-field-400 {
   width: 400px;
}

/* Basic data visual area */
.active-area {
    position: absolute;
    left: 360px;
    margin: 5px;
    width: 75%;
    height: 82%;
    text-align: left;
    border: 1px solid lightgrey;
}

.bottom-footer {
    position: absolute;
    width: 90%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    padding: 1px;
    text-align: center;
}

/* Table body style */
.tbody-scroll {
    overflow: scroll;
}
